{% if _ro.body %}
    <h3>URI</h3>
    /ticket/{{  _ro.id }}
    <h3>title</h3>
    {{_ro.title }}
    <h3>description</h3>
    {{_ro.description }}
    <h3>created</h3>
    {{  _ro.created|date("Y/m/d H:i:s") }}
    <h3>updated</h3>
    {{   _ro.updated|date("Y/m/d H:i:s") }}
{% else %}
     No Ticket Found
{% endif %}