<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ status.code }} {{ status.message }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css" >
</head>
<body class="markdown-body">
    <h1>{{ status.code }} <small>{{ status.message }}</small></h1>
    <p> logref: {{ logref }}</p>
</body>
